<p>player-detail-reactive-forms works!</p>
<form [formGroup]="playerForm" (ngSubmit)="onValidate()">
	<div>
	<label>first name : <input type="text" formControlName="firstName"></label>
</div>
<div>
	<label>
		<span [class.label-invalid]="showErrorMessage(playerForm.controls.lastName, 'required')">Last name : </span>
	
		<span [ngClass]="{'label-invalid':showErrorMessage(playerForm.controls.lastName, 'required')}">Last name : </span>
	
		<input type="text" formControlName="lastName"></label>
	<div *ngIf="showErrorMessage(playerForm.controls.lastName, 'required')">Le nom doit obligatoirement être rempli</div>
	<div *ngIf="showErrorMessage(playerForm.controls.lastName, 'minlength')">Le nom doit avoir au minimum 3 caractères</div>
</div>
	<button type="submit" [disabled]="playerForm.invalid">Valider</button>
</form>